doctype html
html
    head
        title Hi!
        style
        include style.css
    body
        include ./header.pug
        div.container
            h1 Witaj na stronie, gdzie znajdziesz to czego szukasz. Zaloguj się!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante.